/*
=============== 
Fonts
===============
*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

/*
=============== 
Variables
===============
*/
/* Theme */
.icon-sun:hover {
  fill: #f59e0b;
}

.icon-moon:hover {
  fill: #6b7280;
 
}

[data-theme="dark"] .icon-sun { display: block; }
[data-theme="dark"] .icon-moon { display: none; }
[data-theme="light"] .icon-sun { display: none; }
[data-theme="light"] .icon-moon { display: block; }

[data-theme="light"] body {
  background-color: var(--bg);
}


[data-theme="dark"] body {
background: var(--bg);
}
[data-theme="dark"] {
  /* Cores Base (Dark) */
  --bg: #272d35;
  --text: #f5f5f5;
  --primary: #08c0dd;
  --secondary: #1e1e2e;

  /* Extras */
  --border: #3a3a4a;
  --hover: #0ad0ee;
  --card-bg: #2f2c3d;}

  body.dark{
    background-color: #1e1e2e;
  }
:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(43, 86%, 17%);
  --clr-primary-2: hsl(43, 77%, 27%);
  --clr-primary-3: hsl(43, 72%, 37%);
  --clr-primary-4: hsl(42, 63%, 48%);
  /* primary/main color */
  --clr-primary-5: hsl(42, 78%, 60%);
  /* lighter shades of primary color */
  --clr-primary-6: hsl(43, 89%, 70%);
  --clr-primary-7: hsl(43, 90%, 76%);
  --clr-primary-8: hsl(45, 86%, 81%);
  --clr-primary-9: hsl(45, 90%, 88%);
  --clr-primary-10: hsl(45, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --ff-primary: "Roboto", sans-serif;
  --ff-secondary: "Open Sans", sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
}
/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  min-height: 100dvh; /* evita bugs de altura em mobile */
  font-family: var(--ff-secondary);
  background: var(--clr-white);
  color: var(--clr-grey-1);
  scroll-behavior: smooth;
  line-height: 1.5;
  font-size: 0.875rem;
  overflow-x: hidden;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
img:not(.nav-logo) {
  width: 100%;
  display: block;
  max-width: 100%;
}
img {
  max-width: 100%;
}
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: var(--ff-primary);
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-5);
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
/*  global classes */

.btn {
  text-transform: uppercase;
  background: var(--clr-primary-5);
  color: var(--clr-primary-1);
  padding: 0.375rem 0.75rem;
  letter-spacing: var(--spacing);
  display: inline-block;
  font-weight: 700;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  font-size: 0.875rem;
  border: 2px solid transparent;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: var(--radius);
}
.btn:hover {
  color: var(--clr-primary-1);
  background: var(--clr-primary-7);
}
/* section */
.section {
  padding: 5rem 0;
}

.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}
@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
  }
}
/* added during recording */


/*
=============== 
Navbar
===============
*/



.nav-links{
  display: none;
}
.nav{
height: 5rem;
padding: 1rem;
display: grid;
align-items: center;
transition: var(--transition);

}
.nav-center{
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;/
}

.nav-header{
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-self: center;
}

.nav-btn{
  background: transparent;
  border: transparent;
  justify-self: end;
  font-size: 1.75rem;
}
.nav-btn:hover{
  color: var(--clr-primary-5);
}
/* fixed navbar */
.navbar-fixed {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  background: var(--clr-white);

  width: 100%;
  box-shadow: var(--light-shadow);
}

[data-theme="dark"] .navbar-fixed {
background: var(--clr-grey-4);
}

/*
=============== 
Sidebar
===============
*/
.sidebar{
  width: 86%;
  border-radius: 5px;
  height: 100vh;
  position: fixed;
  background: var(--clr-grey-7);
  transition: var(--transition);
  transform: translateX(-100%);
  left: 0;
  top: 0;
  z-index: 10;
}

.show-sidebar{
transform: translateX(-0);
}

/* close */
.close-btn{
  position: absolute;
  top: 5px;
  right: 5px;
  background: transparent;
  border: transparent;
  font-size: 1.75rem;
}
.close-btn:hover{
  color: var(--clr-primary-5);
}
/* darkmode desktop */
.nav__theme__desktop{
  display: none;
}

.sidebar-links{

  display: grid;
  font-size: 1.5rem;
  transition: var(--transition);
  letter-spacing: var(--spacing);
  gap: 0.55rem;
  justify-self: start;


}
.sidebar-links a{
  text-transform: uppercase;
    font-weight: bold;
  color: var(--clr-grey-1);
}
.sidebar-links a:hover {
  color: var(--clr-primary-5);
}
.side-grid{
  
  margin-top: 2.75rem;
  display: grid;
  grid-template-columns: 1fr 1fr ;
  align-items: self-start;
  padding: 0rem 1rem;

}
.nav__theme__mobile{

position: absolute;
right: 5px;
  justify-self: start;

}
#toggle__mobile, #toggle__desktop{
  background: transparent;
  border: transparent;
  border-radius: 50%;
  padding: 4px;
  background: var(--clr-grey-6);
}

.social-icons {
  margin-top: 2.5rem;
  display: grid;
  gap: 1.75rem;
  grid-template-columns: repeat(5, 1fr);
  justify-self: center;
}
.social-icon {
  font-size: 1.5rem;
  color: var(--clr-grey-1);
  text-transform: var(--transition);
}
.social-icon:hover {
  color: var(--clr-primary-5);
}

.hero .underline {
  margin-bottom: 0.5rem;
  margin-left: 0;
}
/* underline added to globals */
.hero-img {
  display: none;
}
.hero {
  width: 100%;
  background: var(--clr-primary-10);
}

.hero-center {

  min-height: calc(100vh - 5rem);
  display: grid;
/* place-items: center; */
margin-top: 
6rem;

}

.hero-info h1, .hero-btn{
  text-align: center;
}
.hero-info .hero-btn{
  display: grid;
  justify-self: center;
  width: 50%;
}
.hero-info  h4 {
  text-align: center;
  color: var(--clr-grey-5);

}
a,.hero-btn{
  text-align: center;

}
.hero-icons {

  justify-self: center;
}
.hero-btn{

  margin-top: 1.5rem;
}

.hero-center{
  padding: 0rem 1rem;
}
@media screen and (min-width: 908px) {
  
.hero-center {
  margin-top: 0; /* remove espaço no desktop */

}
  .hero-info .hero-btn{
  display: grid;
  justify-self: start;
  width: 30%;
}
.hero-info h1{
    text-align: start;
}
.hero-info  h4 {
  text-align: start;
  color: var(--clr-grey-5);

}
a,.hero-btn{
  text-align: center;

}
.hero-icons {
text-align: center;
  justify-self: start;
}
.hero-btn{
    justify-self: start;
  margin-top: 1.5rem;
}

 .hero-img{
 justify-self: start;
  display: block;
  position: relative;
right: 2rem;
width: 25rem;

 }
 .hero-center {
  display: grid;
  grid-template-columns: 1fr  auto;

  align-items: center;
  max-width: 1080px;
 }
 .hero-photo{
  position: relative; 
right: 0;
 /* justify-self: center; */

  object-fit: cover;
  border-radius: 8px;

 }
 .hero-img::before{
  top: 2rem;
  right: -2rem;
  border-radius: 8px;
  content: "";

  position: absolute;
  width: 100%;
  height: 100%;
  border: 0.25rem solid var(--clr-primary-5);
  z-index: 0;
 }
 
  }



@media screen and (min-width:768px){
  .nav-header{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-self: center;
}
  .nav-btn{
    display: none;
  }
  .nav-links{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    gap: 2rem;

 
  }
    .nav-links a {
    text-transform: capitalize;
    color: var(--clr-grey-1);
    font-weight: bold;
    letter-spacing: var(--spacing);
    transition: var(--transition);
  }
  .nav-links a:hover {
    color: var(--clr-primary-5);
  }
  .nav__theme__desktop{
  display: block;
  justify-self: end;
}


[data-theme="dark"] .nav-links a {
color:var(--clr-white);
}
[data-theme="dark"] .nav-links a:hover {
color:var(--clr-primary-5);
}
}
/*
=============== 
Hero
===============

*/


/* underline added to globals */



/*



=============== 
About
===============
*/
/* section title added to globals */

/*
=============== 
Services
===============
*/
/* small screen layout setup */
/* bg-grey in globals */

/*
=============== 
Projects
===============
*/

/*
=============== 
Connect
===============
*/

/*
=============== 
Skills
===============
*/
/*
=============== 
Timeline
===============
*/

/*
=============== 
Blog
===============
*/

/*
=============== 
Footer
===============
*/
/*
=============== 
Single Page
===============
*/

/*
=============== 
Products Page
===============
*/
